/* Colors */

.github-color {
  color: #f5f5f5;
}

.twitter-color {
  color: #f5f8fa;
}

.facebook-color {
  color: #3b5998;
}

.medium-color {
  color: #1f1f1f;
}

.portfolio-color {
  color: #e8e9d7;
}
